{#
/**
 * @file
 * Default theme implementation for a select dropdown with local action links.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - dropdown: A rendered dropdown element.
 * - add_wrapper: Adds a li wrapper element.
 *
 * @see \Drupal\actionlink_dropdown\HookHandlers\PreprocessHandlers\PreprocessActionlinkDropdownSelectHandler
 *
 * @ingroup themeable
 */
#}
{% if add_wrapper %}
    <li{{attributes}}>{{ dropdown }}</li>
{% else %}
    {{ dropdown }}
{% endif %}
