{#
/**
 * @file
 * Default theme implementation for a combined details and select dropdown with local action links.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - dropdown: A rendered dropdown element.
 *
 * @see \Drupal\actionlink_dropdown\HookHandlers\PreprocessHandlers\PreprocessActionlinkDropdownDetailsSelectHandler
 *
 * @ingroup themeable
 */
#}
<li{{attributes}}>{{ dropdown }}</li>
