{#
/**
 * @file
 * Default theme implementation for a single local action link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - dropdown: A rendered dropdown element.
 * - add_wrapper: Adds a li wrapper element.
 *
 * @see template_preprocess_menu_local_action()
 *
 * @ingroup themeable
 */
#}
{% if add_wrapper %}
	<li{{attributes}}>{{ dropdown }}</li>
{% else %}
	{{ dropdown }}
{% endif %}
